body {
    background-color: black;
}
tbody {
    width: 100%;
}
tbody.online {
    background-color: darkgreen;
    color: white;
    display: table;
    border-bottom: 15px solid black;
}

tbody.offline {
    background-color: darkred;
    color: white;
    display: table;
    border-bottom: 15px solid black;
}

td.spacer {
    background-color: black;
}

