body {
    background-color: black;
    color: white;
}

tbody {
    width: 100%;
    color: white;
    display: table;
    border-bottom: 15px solid black;
}

tbody.online {
    background-color: darkgreen;
}

tbody.offline {
    background-color: darkred;
}

td.spacer {
    background-color: black;
}

